body {
    font-family: 'Exo 2', sans-serif;
    background: url('https://images.unsplash.com/photo-1458560871784-56d23406c091?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTR8fG11c2ljfGVufDB8fDB8fHww') no-repeat center center fixed;
    background-size: cover;
    backdrop-filter: blur(2px);
    color: #f0f0f0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    margin: 0;
}

.header, .footer {
    text-align: left;
    padding: 1rem;
    background-color: rgba(18, 18, 18, 0.8);
    color: #f0f0f0;
    font-family: 'Doto', sans-serif;
    display: flex;
    align-items: center;
    gap: 10px;
}

.header h1 {
    margin: 0;
    font-size: 1.5rem;
    display: inline;
}

.footer p {
    margin: 0;
    font-size: 0.9rem;
}

.container {
    background-color: rgba(42, 42, 42, 0.9);
    padding: 1.5rem;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
    max-width: 500px;
    width: 90%;
    margin: 2rem auto;
    text-align: center;
    word-wrap: break-word;
    overflow: hidden;
}

.downloader-section, .organize-section {
    margin-bottom: 2rem;
}

.left-align {
    text-align: left;
    font-size: 1.25rem;
    margin-bottom: 1rem;
}

input {
    width: calc(100% - 30px);
    padding: 10px;
    margin: 10px 5px 10px 0;
    border: 1px solid #444;
    border-radius: 5px;
    background-color: #333;
    color: #f0f0f0;
}

.action-button {
    background-color: #1db954;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
}

.action-button i {
    margin-right: 8px;
    font-size: 1.2rem;
}

.action-button:hover {
    background-color: #148d3d;
}

.loading-spinner {
    margin-top: 15px;
    font-size: 1.5rem;
    color: #1db954;
}

.download-link {
    display: block;
    margin-top: 10px;
    color: #1db954;
    text-decoration: none;
    word-wrap: break-word;
}

.download-link:hover {
    text-decoration: underline;
}

@media (max-width: 600px) {
    .container {
        padding: 1rem;
        margin: 1rem auto;
        width: 95%;
    }

    header, footer {
        padding: 0.5rem;
    }

    input {
        width: calc(100% - 30px);
        margin: 10px 5px 10px 0;
    }

    button {
        padding: 8px 16px;
    }

    .header h1, .footer p {
        font-size: 1.2rem;
    }

    .left-align {
        font-size: 1rem;
    }
}
